<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SERVER_URL</key>
	<string>$(SERVER_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Black.otf</string>
		<string>Pretendard-Bold.oft</string>
		<string>Pretendard-ExtraBold.oft</string>
		<string>Pretendard-ExtraLight.oft</string>
		<string>Pretendard-Light.oft</string>
		<string>Pretendard-Medium.oft</string>
		<string>Pretendard-Regular.oft</string>
		<string>Pretendard-SemiBold.oft</string>
		<string>Pretendard-Thin.oft</string>
	</array>
</dict>
</plist>
